html {
    margin: auto;
}

body {
    margin: auto;
    width: 50%;
    text-align: center;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
}

.game-window {
    margin: 25% auto;
    background-color: black;
    color: whitesmoke;
    text-align: left;
    width: 100%;
    height: 50vh;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#game-output {
    font-family: 'Courier New', Courier, monospace;
    width: 68%;
    height: 80%;
    background-color: red;
    text-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    text-align: justify;
    padding: .5% .5%;
}

#game-output br {
    margin: 7px auto;
}

#game-input {
    margin-top: 1.8%;
    padding: 0;
    width: 69%;
    height: 10%;
    border: none;
    background-color: rgb(25, 25, 25);
    color: white;
    text-indent: 5px;
}

#game-commands {
    text-align: center;
    padding: .5%;
    width: 27.5%;
    height: 94.8%;
    background-color: rgb(12, 80, 80);
}

.menu-item {
    margin: 7px auto;
}

.menu-flash {
    animation: flash 0.1s ease-out;
}

@keyframes flash {
    0% { background-color: green;}
    100% {background-color: transparent;}
}