/* Apply border-box globally */
/*
    Per ChatGPT, the default functionality of CSS is content-box, which 
    is what increases the sizes of containers based on margin/padding.
    To correct this, we use border-box, which makes it so the set width
    and height include the padding, so it actually pushes the content in
    without increases the size of the container. Incredibly 10/10
*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: auto;
}

body {
    margin: auto;
    width: 1200px;
    text-align: center;
    background-color: rgb(10, 10, 10);
}

h3, p {
    margin: 0;
}

.game-window {
    margin: 5% auto;
    background-color: black;
    color: whitesmoke;
    text-align: left;
    width: 100%;
    height: 580px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#game-output {
    font-family: 'Courier New', Courier, monospace;
    width: 910px;
    height: 480px;
    background-color: red;
    text-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    text-align: justify;
    padding: 5px 10px 5px 5px;
}

#game-output br {
    margin: 7px auto;
}

#game-input {
    margin-top: 10px;
    padding: 0;
    width: 910px;
    height: 70px;
    border: none;
    background-color: rgb(25, 25, 25);
    color: white;
    text-indent: 5px;
}

#game-commands {
    text-align: center;
    padding: .5%;
    width: 260px;
    height: 560px;
    background-color: rgb(12, 80, 80);
}

.menu-item {
    margin: 7px auto;
    width: 90%;
    text-align: left;
}

.menu-flash {
    animation: flash 0.1s ease-out;
}

@keyframes flash {
    0% { background-color: green;}
    100% {background-color: transparent;}
}